* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.4;
  font-family: montserrat, sans-serif;
  overflow-x: hidden;
  color: #333;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  background: #5788f5;
  padding: 0 10px;
}



.nav-links {
  text-decoration: none;
  display: flex;
  list-style: none;
  margin-left: 10%;
  /* margin: 0; */
  padding: 0;

}

.login_btn {
  font-size: 14px;
  background-color: #34852b;
  border: none;
  color: white;
  padding: 2px 22px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);

}




.nav-links li {

  margin-right: 20px;

}

/* .dropmenu {
  position: absolute;
  top: ;
} */

.dropdown-content {
  list-style-type: none;
  position: absolute;
  width: 20%;
  padding: 20px;
  background-color: #5788f5;
  border-radius: 2px;

}
.dropmenu{
  margin: 0;
}




/* стиль модального окна входа */
.login-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.login-modal-content {
  background-color: rgb(164, 149, 149);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0px 10px 18px 0px rgba(11, 125, 54, 0.2);
  max-width: 800px;
  margin: 0 auto;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 30px;

}


